:root {
	--genwidth: 40em;
	--navwidth: 175px ;
	--fg: #ddd ;
	--altfg: #ccc ;
	--fgemph: white ;
	--bg: #111 ;
	--altbg: #222 ;
	--emph: #333 ;
	--bordercolor: #555 ;
	--limish: #0e0 ;
	--bg: rgba(0,0,0,0.4) ;
	--altbg: rgba(0,0,0,0.4) ;
}

body {
	background: linear-gradient(#000040, #000000) fixed ;
	margin-bottom: 100px;
}

pre {
	background-color: #000045;
}

#content {
	margin: auto;
	color: var(--fg);
	background: var(--bg);
	padding: 1em;
	border-radius: 15px;
	border: dashed 1px var(--bordercolor);
}

footer {
	text-align: center ;
	font-variant: small-caps ;
	clear: both ;
	background: var(--altbg) ;
	border-radius: 5px ;
	max-width: var(--genwidth);
	display: block;
	margin: auto;
	border-radius: 15px;
	border: dashed 1px var(--bordercolor);

}

a {
	color: #36f433;
	text-decoration: none;
}
a:hover {
	font-style: italic;
}

footer {
	color: var(--altfg) ;
	margin-top: 1em ;
}

img {
	margin: auto;
}

@media (min-width: 40em) {
	#content {
		max-width: var(--genwidth);
	}
}
